@charset "UTF-8";

ul#album-fotos {
  width: 700px;
  margin: 0 auto;
  padding: 50px;
  overflow: hidden;
  list-style: none;
}

ul#album-fotos li {
  float: left;
  width: 200px;
  height: 200px;
  margin: 10px;
  border: 5px solid #fff;
  background-color: #fff;
  box-shadow: 1px 1px 3px rgba(0,0,0,.4);
}

ul#album-fotos li span {
  opacity: 0;
}

ul#album-fotos li#foto01 {
  background: url('../_imagens/galeria-01.jpg') no-repeat;
}

ul#album-fotos li#foto02 {
  background: url('../_imagens/galeria-02.jpg') no-repeat;
}

ul#album-fotos li#foto03 {
  background: url('../_imagens/galeria-03.jpg') no-repeat;
}

ul#album-fotos li#foto04 {
  background: url('../_imagens/galeria-04.jpg') no-repeat;
}

ul#album-fotos li#foto05 {
  background: url('../_imagens/galeria-05.jpg') no-repeat;
}

ul#album-fotos li#foto06 {
  background: url('../_imagens/galeria-06.jpg') no-repeat;
}